.App {
  text-align: center;
  width: 100vw;
  height: 100vh;
  display: flex;
  font-family: 'DM Sans', sans-serif;
  color: #020202;
}

.sidebar{
  min-width: 300px;
  background-color: #e7e6e6;
  width: 20vw;
  height: 100vh;
}
.content{
  width: calc(100vw - max(20vw,300px));
  height: 100vh;
}
.third{
  color: green;
  width: 100%;
  text-align: right;
}